*.mode1v3
*.o
*.pbxuser
*.xcuserdatad
.DS_Store
a.out
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/stamp-h1
.deps
.dirstamp
